@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap');
@import "tailwindcss";

body {
    font-family: "Manrope", sans-serif;
}

.logout{
    font-size: large;
    font-weight: 600;
    color: red;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.logout:hover{
    color: rgb(255, 0, 0, 0.8);
    transform: scale(1.1);
}

.product-card {
    position: relative;
    perspective: 1200px;
    transform-style: preserve-3d;

    transform:
        perspective(1200px)
        rotateX(var(--rotate-x, 0deg))
        rotateY(var(--rotate-y, 0deg))
        translateZ(var(--translate-z, 0px));

    transition: transform 0.12s ease-out;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
.product-card::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: inherit;
    background: radial-gradient(
        300px circle at var(--mouse-x, 50%) var(--mouse-y, 50%),
        rgba(196, 127, 1, 0.397),
        rgba(209, 146, 10, 0.1) 40%,
        transparent 70%
    );
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    z-index: 1;
}

.product-card::after {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: inherit;
    background: radial-gradient(
        200px circle at var(--mouse-x, 50%) var(--mouse-y, 50%),
        rgba(255, 255, 255, 0.06),
        transparent 60%
    );
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    z-index: 2;
    mix-blend-mode: overlay;
    filter: brightness(1.3) contrast(1.1);
    
}

.product-card:hover::before {
    opacity: 1;
}

.product-card:hover::after {
    opacity: 1;
}

.shop-now , .create-account {
    transition: all 0.3s ease-in-out;
    box-shadow:  0 5px 15px rgba(0, 0, 0, 0.5);
    cursor: pointer;

}

.shop-now:hover , .create-account:hover{
    transform: scale(1.1);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
.image {
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.8);
}

.welcome {
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in-out;
}

.navbar {
    background-color: rgba(255, 255, 255, .2);
}
.main {
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.781);
}
.main2 {
    text-shadow: 5px 5px 10px rgba(138, 130, 130, 0.815);
}
.description {
    font-weight: 600;
    font-size: 20px;
}

.products{
    text-decoration: underline;
    text-decoration-color: #72470a;
    text-decoration-thickness: 3px;
    text-underline-offset: 10px;
    text-decoration-style: solid;
    text-shadow: 10px 5px 10px rgba(0, 0, 0, 0.342);    
}
.body{
    background: linear-gradient(135deg, #faf7f2, #f2ede5);
}